/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */
li[id="cat"] {
  color: var(--teal);
}
li[class="parrot"] {
  color: var(--green);
}
li[class="dog"] {
  color: var(--darkmagenta);
}
li[class="hedgehog"] {
  color: var(--darkmagenta);
}
li[class|="cat dog parrot"] {
  color: var(--royalblue);
}
li[class="donkey"] {
  color: var(--royalblue);
}
/* Use descendant, child, and sibling selectors for the second part */

section li.first {
  color: var(--green);
}
section li.second {
  color: var(--violet);
}
li {
  color: var(--royalblue);
}
div.list-food li:last-child {
  color: var(--violet);
}

div.list-cleaning li {
  color: var(--green);
}
